body{
    background-color: black;
}

ul.navbar-nav{
    /* display: flex; */
    /* justify-content: flex-end; */

    /* margin-left: auto; */
}

nav{
    background-color:rgb(113, 109, 109);
}

.jumbotron{
    position: relative;
    top: 15px;
    background-color: bisque;
    
}

.display-4{
    justify-content: center;
}

.testament{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:bisque;
    width:300px;
    position: relative;
    left:315px;
}

